// :host {
app-background-image {
  --loading-background: #{ rgba(#CCC, .25); };
  --overlay-background: #{ rgba(#4d301c, .6); };
  --spinner-size: 28px;
  --spinner-color: #9e9e9e;

  display: block;
  position: relative;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all ease-in-out .3s;
  z-index: 2;

  .aux-img {
    display: none;
    visibility: hidden;
  }

  // Loading background
  &::before {
    content: '';
    background-color: var(--loading-background);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }

  // By default, hide the spinner
  .spinner {
    display: none;
  }

  &.img-loaded {
    // Hide loading background once the image has loaded
    &::before {
      display: none;
    }
  }
}

// :host(.add-overlay) {
app-background-image.add-overlay {
  &.img-loaded {
    // Add background overlay after the image has loaded
    &::before {
      display: block;
      background-color: var(--overlay-background);
    }
  }
}

// :host(.add-spinner) {
app-background-image.add-spinner {
  .spinner {
    display: block;
    position: absolute;
    top: calc(50% - calc(var(--spinner-size) / 2));
    left: calc(50% - calc(var(--spinner-size) / 2));
    width: var(--spinner-size);
    height: var(--spinner-size);
    font-size: var(--spinner-size);
    line-height: var(--spinner-size);
    color: var(--spinner-color);
    z-index: -1;
  }

  &.img-loaded {
    .spinner {
      display: none;
      visibility: hidden;
    }
  }
}
