<ion-app>
  <ion-split-pane>
    <ion-menu class="app-sidemenu">
      <ion-content>
        <ion-row class="user-details-wrapper">
          <ion-col size="4">
            <app-preload-image class="user-avatar add-spinner" [ratio]="{w:1, h:1}" [src]="'https://pbs.twimg.com/profile_images/722153095761903616/WjIKQ7Wm_400x400.jpg'"></app-preload-image>
          </ion-col>
          <ion-col class="user-info-wrapper" size="8">
            <h3 class="user-name">Ionic Themes</h3>
            <h5 class="user-handle">@IonicThemes</h5>
          </ion-col>
        </ion-row>
        <ion-row class="user-stats-wrapper user-details-wrapper">
          <ion-col>
            <span class="user-stat-value">1553</span>
            <span class="user-stat-name">Following</span>
          </ion-col>
          <ion-col>
            <span class="user-stat-value">537</span>
            <span class="user-stat-name">Followers</span>
          </ion-col>
        </ion-row>
        <ion-list>
          <ion-list-header>Layouts</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [href]="p.url">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list>
          <ion-list-header>Account</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of accountPages; let i = index">
            <ion-item [href]="p.url">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <!-- Main app content get's rendered in this router-outlet -->
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
