ion-header {
  ion-toolbar {
    --background: var(--ion-color-secondary-tint);

    .edit-profile-button {
      font-weight: 600;
    }
  }
}

ion-content {
  --background: var(--ion-color-light-tint);
}

.user-details-wrapper {
  padding: 0px 20px 20px;
  background-color: var(--ion-color-secondary-tint);
  color: var(--ion-color-light);
  align-items: center;

  .user-avatar {
    border-radius: 50%;
    border: solid 3px var(--ion-color-light);
  }

  .user-info-wrapper {
    padding-left: 10px;

    .user-name {
      margin: 0px 0px 5px;
    }

    .user-handle {
      margin: 0px;
      font-weight: 400;
    }
  }

  .user-stats-wrapper {
    text-align: center;
    padding-top: 10px;

    .user-stat-value {
      margin-right: 5px;
      font-weight: 500;
      font-size: 18px;
    }

    .user-stat-name {
      font-size: 16px;
    }
  }

  .user-bio {
    margin: 10px 0px 0px;
    line-height: 1.2;
    font-size: 14px;
  }
}

.user-preferences-wrapper {
  padding: 20px;

  .preference-name {
    margin: 0px 0px 6px;
    font-size: 16px;
  }

  .preference-value {
    margin: 0px 0px 6px;
    font-size: 14px;
    line-height: 1.4;
    color: var(--ion-color-dark-tint);
  }
}
